* {
  font-family: Tahoma, Georgia,sans-serif;
  /*background-color: #d5d4d6;*/
  color: black;
}

body {
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px
    width: 100%;
  }
#background-image{
  position: absolute;
  display: inline;
  z-index: -1;
}
div {
  background-color: rgba(0, 0, 0, 0.25);
}
#top {
  border-bottom: 5px solid #0038dc;
  display: inline-block;
  width: 300px;
  padding-right: 10px;
  text-align: left;
}

.bio {

}

.education {

}

.work {

}

.goals {

}

.travel {

}
